doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div(class="logo")
      h1(class="title") Get Your Groceries!
      div(class="search")
      button(aria-label="View Cart." class="view-cart-button")
    main
      block content
    footer
      div(class="attribution")
        p Created By David Stockdale
      div(class="social-links")
        a(href="") Github
        a(href="") Portfolio

