doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div(class="logo")
      h1(class="title") Track Your Products!
    main
      div(class="sidebar")
        h3(class="cat-header") Categories
        ul
          each cat in category_list
            li(class="cat-line-item") 
              a(href=cat.url class="cat-anchor") #{cat.name}
      block content
    footer
      div(class="attribution")
        p Created By David Stockdale
      div(class="social-links")
        a(href="") Github
        a(href="") Portfolio

