doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div(class="logo")
        a(href="/products") Home
      h1(class="title") Track Your Products!
    main
      div(class="sidebar")
        h3(class="cat-header") Categories
        ul
          each cat in category_list
            li(class="cat-line-item") 
              a(href=cat.url class="cat-anchor") #{cat.name}
        div(class="dec-line")
        h3(class="control-header") Control Panel
        ul(class="control-panel-list")
          li(class="control-line-item")
            a(href="/products/item/create/" class="control-anchor") Create New Item
          li(class="control-line-item")
            a(href="/products/item/create/" class="control-anchor") Update Item
          li(class="control-line-item")
            a(href="/products/item/create/" class="control-anchor") Remove Item
      block content
    footer
      div(class="attribution")
        p Created By David Stockdale
      div(class="social-links")
        a(href="") Github
        a(href="") Portfolio

