doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div(class="logo")
      h1(class="title") Track Your Products!
    main
      block sidebar
      block content
    footer
      div(class="attribution")
        p Created By David Stockdale
      div(class="social-links")
        a(href="") Github
        a(href="") Portfolio

