main {
  margin: auto;
  width: 75vw;
  display: flex;
  flex-direction: column;
}

.item-list {
  display: flex;
}

.line-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.main-item-container {
  display: flex;
  justify-content: space-between;
}